body {
    font-family: Arial, sans-serif;
    margin: 100px;
    background-color: blueviolet;
    background-image: url(images/websiteback.jpg);
    background-size: cover;
    }

#container1{
    border: 15px;
    background-color: aqua;
    border-style: outset;

 font-family: 'Times New Roman', Times, serif;
 font-style: oblique;
 border-radius: 15px;
 border: solid rgb(0, 0, 0);
 position: relative;
 top: 2px;
 left: 20px;
 border-style: solid; 
 padding: 8px;
 
 
 
}




  #expense-form { 
    max-width: 400px;
    margin-bottom: 20px;
  }
  #expense-list
   {
    list-style: none;
    padding: 0;
    background-color: rgb(219, 179, 179);
    border: solid rgb(0, 0, 0);
    border-radius: 15px;
    
  }
  .expense-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0px;
border-style: dotted;
    padding: 8px;
    margin-bottom: 10px;
    border-left: 0px;
    border-right: 0px;
    
  }
  .expense-item button {
    margin-left: 10px;
  }

#total-expenses{
    border-style: outset;
    background-color: rgb(170, 170, 170);
    background: -moz-radial-gradient(80vh);
}